.tile-text {
    -fx-font-size: 30pt;
}

.game-grid {
    -fx-background-color: #bbada0;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}


.game-label {
    -fx-font-smoothing-type: lcd;
    -fx-smooth: true;
    -fx-font-family: 'Clear Sans Bold';
}

.game-tile-2    {
    -fx-font-size: 55px;
    -fx-text-fill: #776e65;
    -fx-background-color: #eee4da;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}

.game-tile-4    {
    -fx-font-size: 55px;
    -fx-text-fill: #776e65;
    -fx-background-color: #ede0c8;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}

.game-tile-8    {
    -fx-font-size: 55px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f2b179;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-16   {
    -fx-font-size: 55px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f59563;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-32   {
    -fx-font-size: 55px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f67c5f;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-64   {
    -fx-font-size: 55px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f65e3b;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-128  {
    -fx-font-size: 45px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edcf72;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-256  {
    -fx-font-size: 45px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edcc61;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-512  {
    -fx-font-size: 45px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edc850;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-1024 {
    -fx-font-size: 35px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edc53f;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-2048 {
    -fx-font-size: 35px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edc22e;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}


.game-grid-cell {
    -fx-fill: #cdc1b4;
    -fx-stroke-width: 14px;
    -fx-stroke-type: centered;
    -fx-stroke: #BBADA0;
}